

@mixin header {

.logo-header{
    background-color: red;

img{
    height:100px;
    width:10%;

}

}

@media screen and (max-width:528px){
    .logo-header{
        img{
            width: 25%;
        }
    }
}

@media screen and (max-width:1050px) {
    .logo-header{
        img{
            width: 18%;
        }
    }
}

}

.Sign{

    @include header();
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;



    .Sign-content{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 80px;
        
        height: 100%;
        margin: 0 auto;
        width:50%;
        text-align: center;    

    }

    .sign-in-form{
        padding: 30px;
    }

    .otp-boxes{
        
        display: flex;
        align-items: center;

    }

    .otp-input{
        border-style: double;
        border-radius: 25%;
        margin: 0.2em;
        outline: none;

    }

    Button {

        display:block;
        margin: 40px auto;
        
    }

    .login-link{
    display: block;
    padding-top: 60px;
    text-decoration: none;
    color: black;
    font-weight: 500;

    &:hover{
        text-decoration: underline;
        color: red;
    }
   }

}

@media screen and (max-width:485px){

    .Sign{
        position: static;
        // background-color: red;
       .sign-in-form{
            padding-top: 5px;
            .otp-input{
                border-style: double;
                border-radius: 25%;
                margin: 0em;
                outline: none;
            }

            .login-link{
                padding-top:0px;
            }  
          }
    }


    .addVehicleInfo{
        background: red;
    }
}

@media screen and (max-width:1050px){

}

// 
// @media screen and (max-width:485px){
    // 
// }
// 
.Caraousel{

    @include header();

}





















