*{
    box-sizing: border-box;
}

@mixin header {

.logo-header{
    background-color: red;
    width:100%;
    height:auto;

img{ 
    height:60px;
    width:80px;
    position: left;
}
 .CompName {
    display: inline-block;
    color: white;
    font-size: large;
    margin: 17px 10px;
    font-size-adjust: 0.60;
    font-weight: bolder;
}


}
/*
@media screen and (max-width:528px){
    .logo-header{
        img{
            width: 25%;
        }
    }
}

@media screen and (max-width:1050px) {
    .logo-header{
        img{
            width: 18%;
        }
    }
}
*/
}


.sign-box {
    width: 100%;
    height: 100vh;
    position: relative;

 .Sign{
    @include header();
    background-color: white;
    width: 50%;
    height: 100%;
    position: fixed;
    float:left;

    .Sign-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 70px;        
        height: 100%;
        margin: 0 auto;
        width:50%;
        text-align: center;    

    }

    .sign-in-form{
        padding: auto;
    }

    .otp-boxes{        
        display: flex;
        align-items: center;
    }

    .otp-input{
        border-style: double;
        border-radius: 25%;
        margin: 0.15em;
        outline: none;
    }

    Button {

        display:block;
        margin: 40px auto;
        
    }

    .login-link{
    display: block;
    padding-top: 60px;
    text-decoration: none;
    color: black;
    font-weight: 500;

    &:hover{
        text-decoration: underline;
        color: red;
    }
   }
    }
    .slider {
        width: 50%;
        float:right;
        height:100vh;
    
    img {
        width: 100%;
        height:100vh;
    }
    .owl-theme {
        .owl-dots {
            display: none;
        }
    }    
    }
}
@media screen and (max-width:485px){

    .Sign{
        position: static;
        // background-color: red;
       .sign-in-form{
            padding-top: 5px;
            .otp-input{
                border-style: double;
                border-radius: 25%;
                margin: 0em;
                outline: none;
            }

            .login-link{
                padding-top:0px;
            }  
          }
    }


    .addVehicleInfo{
        background: red;
    }
}

@media screen and (max-width:1050px){

}

// 
// @media screen and (max-width:485px){
    // 
// }
// 






















