.evcsButton {
  outline: none;
  background-color: #EC1B21;
  letter-spacing: 0.9px;
  font-weight: 600;
  margin-top: 20px;
}

.evcsInput {
  width: 280px;
  display: block;
  height: 40px;
  font-size: 15px;
  margin: 18px;
  margin-left: auto;
  margin-right: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sign-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sign-box .Sign {
  background-color: white;
  width: 50%;
  height: 100%;
  position: fixed;
  float: left;
}

.sign-box .Sign .logo-header {
  background-color: #EC1B21;
  width: 100%;
  height: auto;
}

.sign-box .Sign .logo-header img {
  height: 60px;
  width: 80px;
  position: left;
}

.sign-box .Sign .logo-header .CompName {
  display: inline-block;
  color: white;
  font-size: large;
  margin: 17px 10px;
  font-size-adjust: 0.60;
  font-weight: bolder;
}

.sign-box .Sign .Sign-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4em;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.sign-box .Sign .sign-in-form {
  padding: auto;
  width: 100%;
}

.sign-box .Sign .sign-in-form h3 {
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.sign-box .Sign .sign-in-form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #EC1B21;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Comic Neue', cursive;
}

.sign-box .Sign .sign-in-form .input-box .fa-phone {
  padding: 5px;
  margin: 3px;
  font-size: 35px;
  color: #EC1B21;
}

.sign-box .Sign .sign-in-form .input-box ::-webkit-input-placeholder {
  font-weight: 500;
  text-align: center;
}

.sign-box .Sign .sign-in-form .input-box :-ms-input-placeholder {
  font-weight: 500;
  text-align: center;
}

.sign-box .Sign .sign-in-form .input-box ::-ms-input-placeholder {
  font-weight: 500;
  text-align: center;
}

.sign-box .Sign .sign-in-form .input-box ::placeholder {
  font-weight: 500;
  text-align: center;
}

.sign-box .Sign .sign-in-form .input-box input {
  outline: none;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  text-align: left;
}

.sign-box .Sign .sign-in-form .input-box:visited {
  border: 2px solid #EC1B21;
}

.sign-box .Sign #submitphone {
  margin: auto;
  font-size: 25px;
  height: 51px;
  color: #EC1B21;
  padding: 0px;
}

.sign-box .Sign #submitphone:hover {
  background-color: #EC1B21;
  color: white;
}

.sign-box .Sign .otp-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-box .Sign .otp-input {
  border-style: solid;
  border-color: #EC1B21;
  border-radius: 25%;
  margin: 0.15em;
  outline: none;
}

.sign-box .slider {
  width: 50%;
  float: right;
  height: 100vh;
}

.sign-box .slider img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.sign-box .slider .owl-theme .owl-dots {
  display: none;
}

@media screen and (max-width: 485px) {
  .Sign {
    position: static;
  }
  .Sign .sign-in-form {
    padding-top: 5px;
  }
  .Sign .sign-in-form .otp-input {
    border-style: double;
    border-radius: 25%;
    margin: 0em;
    outline: none;
  }
  .Sign .submit-page {
    margin: 0px;
  }
}

@media screen and (max-width: 716px) {
  .sign-box {
    position: static;
  }
  .sign-box .Sign {
    width: 100%;
    float: none;
  }
  .sign-box .slider {
    width: 100%;
    float: none;
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .Sign-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Sign-content .mdl-grid {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    position: static;
    margin: 0px;
    padding: 16px;
  }
  .Sign-content .sign-in-form .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.stationListItem a {
  color: black;
}

.stationListItem a:hover {
  padding-bottom: 10px;
}

.stationListItem:hover {
  color: rgba(255, 10, 10, 0.9);
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  font-size: 21px;
  letter-spacing: 1px;
  -webkit-transition: font-size,letter-spacing 250ms;
  transition: font-size,letter-spacing 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.stationListItem .listItemImg {
  margin: 10px;
}

.demo-big-content {
  display: block;
}

.demo-big-content #main-header {
  background-color: #EC1B21;
}

.demo-big-content .sidebar-list-hr {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.demo-big-content .card {
  text-align: center;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.demo-big-content .card .card .class-content #sidebar-img {
  border-radius: 70%;
  padding: 4px;
  width: 180px;
  height: 170px;
}

.demo-big-content .card .card .class-content .card-body {
  color: #EC1B21;
  padding: 0px;
  margin: 0px;
}

.demo-big-content .card .card .class-content .card-title {
  font-weight: 600;
  padding-top: 10px;
}

.demo-big-content .list-container {
  margin-top: 10px;
}

.demo-big-content .list-container ul {
  text-align: center;
  margin: 0px 0px 0px;
  padding: 0px;
}

.demo-big-content .list-container .nav-item {
  list-style: none;
  padding: 15px;
}

.demo-big-content .list-container .nav-item .sidebar-links {
  color: grey;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-size: medium;
}

.demo-big-content .list-container .nav-item .sidebar-links:hover {
  color: red;
  font-weight: 900;
  font-size: 22px;
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.demo-big-content .list-container .nav-item .sidebar-links .fa {
  color: red;
  padding-right: 5px;
  font-size: 30px;
}

#myprofile-container {
  width: 70%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px;
}

#myprofile-container img {
  border: 4px solid black;
  padding: 2px;
  z-index: 1000;
}

#myprofile-container .myprofile-imagebox {
  border-radius: 1px;
  padding: 0.1px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#myprofile-container .myprofile-textfields {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
}

#myprofile-container #profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#myprofile-container .evcs-button, #myprofile-container button {
  outline: none;
  background-color: #EC1B21;
  letter-spacing: 0.9px;
  font-weight: 600;
}

#myvehicle-container {
  text-Align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  scroll-behavior: initial;
}

#myvehicle-container h3 {
  color: red;
  font-weight: 300;
  letter-spacing: 5px;
  background-color: rgba(224, 168, 168, 0.9);
  padding: 8px;
}

#myvehicle-container #vehicle-picture {
  width: 200px;
  border-radius: 25%;
  border-top: 3px solid #EC1B21;
  border-bottom: 3px solid #EC1B21;
  padding: 4px;
}

#myvehicle-container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myvehicle-container td, #myvehicle-container th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

#myvehicle-container tr:nth-child(even) {
  background-color: #dddddd;
}

#myvehicle-container button {
  outline: none;
  background-color: #EC1B21;
  letter-spacing: 0.9px;
  font-weight: 600;
}

#myvehicle-container .addRC-form form h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}

#myvehicle-container .addRC-form form .addRC-inputs {
  width: 100%;
  margin: 0px;
  padding: 10px;
  border: 2px solid rgba(224, 168, 168, 0.9);
  text-align: center;
}

#myvehicle-container .addRC-form form button {
  outline: none;
  background-color: #EC1B21;
  letter-spacing: 0.9px;
  font-weight: 600;
  margin-top: 20px;
}
/*# sourceMappingURL=App.css.map */