$redshade: #EC1B21;

@mixin Center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: top;
}
@mixin bottm {
    display: flex;
    justify-content: baseline;    
}

$textcolor : white ;
$bodycolor: $redshade;

.body{
    background-color : $bodycolor;
    // @include Center();
    display: flex;
    justify-content: center;
    flex-direction: row ;
    color: $textcolor;
    position: relative;
    height: 100vh;
    width: 100vw;

  .content-box{
    @include Center();
    flex-direction: column;

  img{
    width: 30vmax;
    height: 50vmin;
    margin-top: 100px; 
}

  h1{
    margin:none;
    position: fixed;
    bottom: 1vh;
    font-size: inherit;
}

}
}

@media only screen and (max-width:1024px)
{
    
}

